* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html {

    --max-w: 1440px;

    --color-Snow-color: #FFFBFF;
    --color-FloralWhite-color: #FFFCF7;
    --color-english-violet: #55395cff;
    --color-purple-mountain-majesty: #ab6cbaff;
    --color-russian-violet: #2d0936ff;
    --color-midnight: #671a78ff;
    --color-xiketic: #0d020fff;
    --color-RoseMadder-color: #DF2935;
    --color-Pistachio-color: #8ED081;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--color-FloralWhite-color);
    transition: 0.5s;
}

body.active {
    background: var(--color-Snow-color);
}

.container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;

}

.violettBg {
    position: absolute;
    top: calc(50% - 225px);
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.0px);
    -webkit-backdrop-filter: blur(2.0px);
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.violettBg .box {
    position: relative;
    width: 50%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.violettBg .box h2 {
    color: var(--color-xinetic-color);
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}



.violettBg .box button {
    cursor: pointer;
    padding: 10px 20px;
    background: var(--color-purple-mountain-majesty);
    color: var(--color-Snow-color);
    font-size: 16px;
    font-weight: 500;

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.0px);
    -webkit-backdrop-filter: blur(2.0px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.formBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--color-Snow-color);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.formBx.active {
    left: 50%;
}

.formBx .form {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;

}

.formBx.active .SignInForm {
    left: -100%;
    transition-delay: 0s;
}

.formBx .SignInForm {
    transition-delay: 0.25s;
}

.formBx .SignUpForm {
    left: 100%;
    transition-delay: 0s;
}

.formBx.active .SignUpForm {
    left: 0;
    transition-delay: 0.25s;
}


.formBx .form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formBx .form form h3 {
    font-size: 1.5em;
    color: var(--color-xiketic);
    margin-bottom: 20px;
    font-weight: 500;
    align-self: center;
}

.formBx .form form input {
    width: 100%;
    margin-bottom: 209x;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid var(--color-xiketic);

}

.formBx .formulario input {
    margin-bottom: 10px;
}

.formBx .form form input[type="submit"] {
    background: var(--color-purple-mountain-majesty);
    border: none;
    color: var(--color-Snow-color);
    max-width: 100px;
    cursor: pointer;


    align-self: center;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.0px);
    -webkit-backdrop-filter: blur(2.0px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.formBx.active .SignIn input[type="submit"] {
    background: var(--color-english-violet);
}

.formBx .form form .forgot {
    color: var(--color-xiketic);
    align-self: center;

}

.withRegister {
    height: 600px;
}

#formm #text {
    width: 300px;
    background: var(--color-Snow-color);
    outline: none;
    padding: 2px;
    border-radius: 6px;
    color: var(--color-xinetic-color);
}

#text {
    display: block;
    color: var(--color-Snow-color);
    font-weight: 500i;
    padding: 5px;

}

#formm #mensaje #inputBox:before {
    content: "";
    position: absolute;
    right: 12px;
    top: 8px;
    bottom: 5px;
    height: 24px;
    background-color: url(../img/invalid.png);
    background-size: cover;
    z-index: 100;
}

#formm #mensaje {
    width: 300px;
    background: var(--color-Snow-color);
    outline: none;
    padding: 2px;
    border-radius: 6px;
    color: var(--color-xinetic-color);
}

#mensaje {
    display: block;
    color: var(--color-Snow-color);
    font-weight: 500i;
    padding: 5px;

}

#formm #mensaje #inputBox:before {
    content: "";
    position: absolute;
    right: 12px;
    top: 8px;
    bottom: 5px;
    height: 24px;
    background-color: url(../img/invalid.png);
    background-size: cover;
    z-index: 100;
}

@media(max-width:991px) {
    .container {
        max-width: 400px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container .violettBg {
        top: 0;
        height: 100%;

    }

    .formBx {
        width: 100%;
        height: 500px;
        top: 0;
        box-shadow: none;
    }

    .violettBg .box {
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;

    }

    .box.SignIn {
        top: 0;
    }

    .formBx.active {
        left: 0;
        top: 150px;

    }


}