* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {

    --max-w: 1440px;

    --color-Snow-color: #FFFBFF;
    --color-english-violet: #55395cff;
    --color-purple-mountain-majesty: #ab6cbaff;
    --color-russian-violet: #2d0936ff;
    --color-midnight: #671a78ff;
    --color-xiketic: #0d020fff;


}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* codigo del header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo {
    position: relative;
    max-width: 80px;

}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: var(--color-midnight);
    font-weight: 400;
    margin-left: 10px;
    text-decoration: none;

}


.container {

    position: relative;
    margin-top: 100px;
    width: 1280px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    margin-top: 100px;
}

.container .cards {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;

    flex-direction: column;
    padding: 20px 15px;
    align-items: center;
    box-shadow: 0 5px 202 rgba(0, 0, 0, 0.3);

    background: rgba(255, 255, 255, 0.60);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.0px);
    -webkit-backdrop-filter: blur(2.0px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    /*  */

}

.container .cards .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 100000;
    transform-origin: top;
    border-radius: 20px;
    overflow: hidden;

}

.container .cards:hover .imgBx {
    transform: translateY(30px) scale(0.5);
}

.container .cards .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .cards .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    transition: 0.5;
}

.container .cards .content:hover {
    transform: translateY(0);
}

.container .cards .content .details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container .cards .content .details h2 {
    color: var(--color-xiketic);
    font-size: 1.2em;
    font-weight: 500;
}

.container .cards .content .details h2 span {
    font-size: 0.8em;
    font-weight: 400;
    color: var(--color-purple-mountain-majesty);
}

.social_icons {
    position: relative;
    display: flex;
    margin-top: 5px;

}

.social_icons li {
    list-style: none;
    margin: 4px;

}

.social_icons li a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(109, 82, 116);
    border-radius: 50%;
    font-size: 1.5em;
    color: var(--color-Snow-color);
    text-decoration: none;
    transition: 0.5s;
}

.social_icons li a:hover {
    transform: rotate(360deg);
    background: rgb(169, 124, 180);
}

@media(max-width:991px) {



    header {
        padding: 10px;
        margin-top: 10px;
    }

    header .logo {
        max-width: 90px;
    }

    .container {

        margin-top: 100px;
    }

    header ul {
        display: none;
    }


    /* codigo de la hamburgesita */
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(../img/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        flex-shrink: 0;
        z-index: 11;

    }

    .toggle.active {
        background: url(../img/cerrar.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;

        position: fixed;
        right: 20px;
    }

    header ul.navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--color-Snow-color);
        z-index: 10;
    }

    header ul li {

        margin: 5px 0;
        font-size: 1.5em;

    }

    header ul li a {


        margin: 5px 0;
        font-size: 1em;

    }
}